# Aliases

###

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
###

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Prozess grep shortcut
alias pg='ps aux | grep -i '

# Find string in path
alias finds='grep -rinw . -e $1'

# Reload .zshrc
alias reload-zshrc='source $HOME/.zshrc'

# Disk speed test
alias test-write-speed='dd if=/dev/zero of=testfile bs=1G count=1 oflag=direct'

# Check zsh loadtime
alias time-zsh='time zsh -i -c exit'

# Git shortcuts
alias gmd='git merge origin/develop'
alias gcfd='git diff --name-only develop --exit-code --no-renames'
alias commit='convco commit'

# Show my public IP
alias pubIP='curl ifconfig.co'

# Added aliases using addAlias function
alias tf=terraform

# Alias for codium
if command -v codium &> /dev/null
then
    alias code=codium
fi

# Aliases for k3d     
if command -v k3d &> /dev/null
then
    alias k3dsa='k3d cluster stop --all'
fi

# Aliases for task https://github.com/go-task/task     
if command -v go-task &> /dev/null
then
    alias task='go-task'
fi