# Aliases

###
# time to upgrade `ls`

# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
export CLICOLOR_FORCE=1

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
###

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Find string in path
alias finds='grep -rnw . -e $1'

# Reload .zshrc
alias reload-zshrc='source ~/.zshrc'

# Some vagrant aliases
alias vup='vagrant up'
alias vssh='vagrant ssh'
alias vh='vagrant halt'